<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Address Book suite" verbose="1" >
    <test name="LogIn tests">
        <classes>
            <class name="LoginTest"/>
            <class name="SignOutTest"/>
        </classes>
    </test>

    <test name="Addresses tests">
        <classes>
            <class name="AddAddressTest"/>
            <class name="EditAddressTest"/>
            <class name="RemoveAddressTest"/>
        </classes>
    </test>
</suite>